apiVersion: apps/v1
kind: Deployment
metadata:
  name: firstprogram-deployment
  namespace: firstprogram-ns
  labels:
    app: firstprogram
spec:
  replicas: 1
  selector:
    matchLabels:
      app: firstprogram
  template:
    metadata:
      labels:
        app: firstprogram
    spec:
      containers:
        - name: firstprogram
          image: firstprogram:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20
